@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html,
body {
    background-color: #33363d;
    color: #dcddde;
}

.banner {
    background-color: #1a1d20;
}

header {
    background-color: rgb(26, 29, 32, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.nav-links li {
    transition: 0.5s ease-in-out;
}

.nav-links li a {
    color: white;
}

.nav-links li:hover {
    background-color: #4652c5;
    transition: 0.5s ease-in-out;
}


/* Making website accessable to mobile & smaller screens*/

@media (max-width: 1280px) {
    body {
        background-color: teal;
    }
}

@media (max-width: 960px) {
    body {
        background-color: red;
    }
}

@media (max-width: 480px) {
    body {
        background-color: green;
    }
}
