@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    font-family: 'Arsenal', sans-serif;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    word-wrap: break-word !important;
}


/* Header */

.banner {
    text-align: center;
    font-size: 100px;
    box-shadow: 0px -2px 5px rgb(0, 0, 0, 0.2);
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
}


/* Main Content */

.mainContent {
    padding: 15px;
}

img.top {
    vertical-align: text-top;
}

img.bottom {
    vertical-align: text-bottom;
}

img.middle {
    vertical-align: middle;
}