header {
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 175px;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    box-sizing: border-box;
    top: 0;
}

.logo {
    font-size: 50px;
    font-weight: 900;
}

.nav-links li {
    list-style: none;
    display: inline;
    padding: 10px 25px 10px 25px;
    margin: 0px 2px 0px 2px;
    border-radius: 2px;
}

.nav-links li a {
    text-decoration: none;
}